.gray {
    background-color:#DCDCDC;
}

.green{
    background-color: #7FFF00;
}


.page-header h1{
    Font-Family: 'Permanent Marker', Cursive;
    Font-Size: 55px;
    text-align: center;

}






Font-Family: 'Permanent Marker', Cursive;
Font-Size: 55px;
Font-Family: 'Overpass', Sans-Serif;
Font-Size: 17px;