.gray {
    background-color:#DCDCDC;
}

.green{
    background-color: #7FFF00;
}

.container h1{
    margin: 5.2%;
    color:white;
    font-size: 50px;
    text-align: center;
    Font-Family: 'Ruda', Sans-Serif;
}

.jumbotron p{
    font-size: 30px;
    text-align: center;
    Font-Family: 'Roboto Slab', Serif;
}
.heading h2{
    margin: .2%;
    color: white;
    font-size: 40px;
    text-align: center;
    Font-Family: 'Roboto Slab', Serif;
}
.input {
    text-align: center;
}
th{
    color: white;
    font-size: 24px;
    text-align: center;
    Font-Family: 'Roboto Slab', Serif;
}
#taskToTableBody{
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 18px;
    text-align: center;
    Font-Family: 'Roboto Slab', Serif;
}
.buttons .deleteBtn{
    background-color: rgb(249, 6, 54);
    color: white;
    Font-Family: 'Ruda', Sans-Serif;
}
.buttons td{
    text-align: left;
    border: white;
}

#submit-task{
    background: rgb(127, 242, 127);
    Font-Family: 'Ruda', Sans-Serif;

}
#task{
    text-align: center;
    Font-Family: 'Ruda', Sans-Serif;
}
.buttons .completeBtn{
    background-color:rgb(255, 255, 5);
    color:black ;
    
}
